*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 20px;
}

a {
text-decoration: none;
color: inherit;
}

a:visited{
  color: inherit;
}

body{
  font-family: 'Montserrat', sans-serif;

}

/* container */

.container{
  margin: 0rem auto 1rem auto;
  max-width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.6fr 1fr 0.8fr 1.2fr;
  grid-gap: 0.5rem;
  grid-template-areas:
  "nav nav nav"
  "main main main"
  "main main main"
  "content1 content2 content3";
  height: 95vh;
  text-align: center;
}



/* nav */

nav{
  background: #EEEEEE;
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0rem 1rem 1rem 1rem;
  width: 100%;
}


.ul-nav{
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  width: 80%;
}

.ownHistory{
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 50%);
  padding: 0.5rem 1.3rem;
  border-radius: 1.5rem;
}

.ownHistory:hover{
    background-color: rgba(0, 0, 0, 100%);
    cursor: pointer;
}

/* main */

#main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: main;
}

.worldCards{
  margin: 1rem auto;
}

.theMarketplace{
  margin-bottom: 1rem;
}

.connectToWalletBtn{
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  margin: 1rem auto 0 auto;
  font-size: 1rem;
}

.connectToWalletBtn:hover{
  padding: 0.5rem;
  border-radius: 1.5rem;
  margin: 1rem auto 0 auto;
  background-color: black;
  color: white;
}

/* content 1 */

.content1{
  background: url('img/filterByPlayerOrTournament.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-area: content1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 1.5rem;
  filter: drop-shadow(2px 7px 5px black);
}

.content1:hover{
  filter: drop-shadow(4px 10px 5px black);
}

.filterByPlayer{
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 50%);
  padding: 0.2rem 0.6rem;
  color: white;
}

.filterByPlayer:hover{
    background-color: rgba(0, 0, 0, 100%);
    cursor: pointer;
}

/* content 2 */

.content2{
  background: url('img/earnRewards.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-area: content2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 1.5rem;
  filter: drop-shadow(2px 7px 5px black);
}

.content2:hover{
  filter: drop-shadow(4px 10px 5px black);
}

.earnRewards{
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 50%);
  padding: 0.2rem 0.6rem;
  color: white;
}

.earnRewards:hover{
    background-color: rgba(0, 0, 0, 100%);
    cursor: pointer;
}

/* content 3 */

.content3{
  background: url('img/displayYourCollection.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-area: content3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 1.5rem;
  filter: drop-shadow(2px 7px 5px black);
}

.content3:hover{
  filter: drop-shadow(4px 10px 5px black);
}

.displayYourCollection{
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 50%);
  padding: 0.2rem 0.6rem;
  color: white;
}

.displayYourCollection:hover{
    background-color: rgba(0, 0, 0, 100%);
    cursor: pointer;
}



/* container 2 */

.container2{
margin: 0.5rem auto 1rem auto;
width: 100%;
max-width: 95%;
height: 50vh;
font-family: 'Montserrat', sans-serif;
text-align: center;
}

.hottestH2{
  font-size: 2.5rem;
  margin: 9rem auto 1rem auto;
  font-family: 'Montserrat', sans-serif;
}

.hottest{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 40vh;
  width: 80vw;
  max-width: 90%;
  margin: 2rem auto 2rem auto;
}

/* diego */

.diego{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
}

.diego1986{
  display: inline-block;
  height: auto;
  width: 15rem;
  border-radius: 1rem;
  filter: drop-shadow(3px 3px 4px);
  border: 1px solid white;
  margin-bottom: 1.5rem;
}

.diego1986:hover{
  transform: scale(1.1);
  cursor: pointer;
}

/* ronaldo */

.ronaldo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
}

.ronaldo2002{
  display: inline-block;
  height: auto;
  width: 15rem;
  border-radius: 1rem;
  filter: drop-shadow(3px 3px 4px);
  border: 1px solid white;
  margin-bottom: 1rem;
  transform: scale(1.05) translateY(-0.1rem);
}

.ronaldo2002:hover{
  transform: scale(1.1);
  cursor: pointer;
}

/* zidane */

.zidane{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
}

.zidane2006{
  display: inline-block;
  height: auto;
  width: 15rem;
  border-radius: 1rem;
  filter: drop-shadow(3px 3px 4px);
  border: 1px solid white;
  margin-bottom: 1.5rem;
  transform: scale(1.05);
}

.zidane2006:hover{
  transform: scale(1.1);
  cursor: pointer;
}


/* container 3 */

.container3{
  margin: 0.5rem auto 1rem auto;
  width: 100%;
  max-width: 95%;
  height: 200vh;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

/* about */

#about{
  background: #FEF5ED;
  margin: 3rem auto 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 95%;
  width: 95%;
}

.howDoesWCWork{
  font-size: 3rem;
  margin: 1rem auto 0rem auto;
  padding-top: 5rem;
}

/* how it works grid */

.howItWorksGrid{

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 0.5rem;
  grid-template-areas:
  "broadcast"
  "mint"
  "access";
  width: 80%;
  margin: 3rem auto 2rem auto;
  height: 175vh;
  max-width: 95%;
  font-size: 1rem;
}

/* broadcast div */

.broadcast{
  grid-area: broadcast;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 90%;
  margin: 5rem auto 5rem auto;
}

.broadcastP{
  margin: 1.5rem auto 0 auto;
}

.broadcastSVG{
  display: inline-block;
  height: auto;
  width: 20rem;
  margin: 0 auto 0 auto;
}

/* mint div */

.mint{
  grid-area: mint;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 90%;
  margin: 5rem auto 5rem auto;
}

.mintP{
  margin: 1.5rem auto 0 auto;
}

.mintSVG{
  display: inline-block;
  height: auto;
  width: 20rem;
  margin: 0 auto 0 auto;
}

/* access div */

.access{
  grid-area: access;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 90%;
  margin: 5rem auto 5rem auto;
}

.accessP{
  margin: 1.5rem auto 0 auto;
}

.accessSVG{
  display: inline-block;
  height: auto;
  width: 20rem;
  margin: 0 auto 0 auto;
}



/* container 4 */

.signUp{
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  width: 80vw;
  text-align: center;
  margin: 8rem auto 2rem auto;
}

.container4{
  margin: 5rem auto 1rem auto;
  max-width: 90%;
  background: url("img/dashboard/background/dash2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* dashboard */

.dashboard{
  color: white;
  width: 80vw;
  height: 80vh;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  margin: 1rem auto 1rem auto;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0.5rem;
  grid-template-areas:
  "personal collection collection"
  "features radar radar";
  font-family: 'Montserrat', sans-serif;
  filter: drop-shadow(4px 4px 8px);
}

/* profile */

.personal-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: personal;
  margin-top: 2rem;
  border-right: 2px solid rgba(255, 255, 255, 0.2);
}

.personalPic{
  width: 180px;
  height: 180px;
  border-radius: 50%;
  filter: drop-shadow(2px 2px 6px white);
  margin-bottom: 1.5rem;
}


/* features */

.features{
  grid-area: features;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 13rem;
  margin-top: 2rem;
  border-right: 2px solid rgba(255, 255, 255, 0.2);
}

.feature{
  padding: 0.2rem;
}

.feature:hover{
  cursor: pointer;
  background-color: black;

}

/* collection */

.my-collection{
  grid-area: collection;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.collection-examples{
  width: 700px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
}

.collectionMessi{
  width: 200px;
  height: 150px;
  filter: drop-shadow(2px 2px 6px);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  cursor: pointer;
}

.collectionMessi:hover{
  filter: drop-shadow(4px 4px 8px);
}

.collectionRonaldinho{
  width: 200px;
  height: 150px;
  filter: drop-shadow(2px 2px 6px);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  cursor: pointer;
}

.collectionRonaldinho:hover{
  filter: drop-shadow(4px 4px 8px);
}

.collectionMuller{
  width: 200px;
  height: 150px;
  filter: drop-shadow(2px 2px 6px);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  cursor: pointer;
}

.collectionMuller:hover{
  filter: drop-shadow(4px 4px 8px);
}

.collectionLine{
  color: white;
  height: 3rem;
  width: 10rem;
  border: none;
  border-bottom: 1px solid white;

}

/* radar */

.radar{
  grid-area: radar;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.radar-examples{
  width: 700px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;

}

.radarValderrama{
  width: 200px;
  height: 150px;
  filter: drop-shadow(2px 2px 6px);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  cursor: pointer;
}

.radarValderrama:hover{
    filter: drop-shadow(4px 4px 8px);
}

.radarNeymar{
  width: 200px;
  height: 150px;
  filter: drop-shadow(2px 2px 6px);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  cursor: pointer;
}

.radarNeymar:hover{
    filter: drop-shadow(4px 4px 8px);
}

.radarOwen{
  width: 200px;
  height: 150px;
  filter: drop-shadow(2px 2px 6px);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  cursor: pointer;
}

.radarOwen:hover{
    filter: drop-shadow(4px 4px 8px);
}




/* queries */

@media (max-width: 1460px){
  .container3{
    height: 275vh;
  }
  #about{
    height: 270vh;
  }
  .howDoesWCWork{
    font-size: 2.7rem;
    margin: 3rem auto 0rem auto;
    padding-top: 10rem;
  }
  .howItWorksGrid{
    height: 250vh;
  }
  .broadcastP{
    margin-top: 1.2rem;
    font-size: 2rem;
  }
  .mintP{
    margin-top: 1.2rem;
    font-size: 2rem;
  }
  .accessP{
    margin-top: 1.2rem;
    font-size: 2rem;
  }
}

@media (max-width: 1366px){
  .container4{
    height: 150vh;
  }
  .dashboard{
    background: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 1fr;
    grid-gap: 0.5rem;
    grid-template-areas:
    "personal"
    "collection"
    "radar";
    color: white;
    border: 1px solid white;
    height: 120vh;
  }
  .personal-info{
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    border-right: none;
    flex-direction: row;
    justify-content: center;
    text-align: center;

  }
  .personalSpan{
    padding-left: 2rem;
  }
  .collectionSpan{
    font-size: 1.5rem;
  }

  .radar{
    margin-top: 0.5rem;
    margin-bottom: 9rem;
  }
  .radarSpan{
    font-size: 1.5rem;
  }
  .collectionLine{
    color: black;
    margin-top: 3rem;
  }
  .features{
    display: none;
  }
}


@media (max-width: 1200px){
  .container2{
    height: 120vh;
    max-width: 80%;
  }
  .hottest{
    flex-direction: column;
    height: 110vh;
    margin: 1rem auto 1rem auto;
  }
  .diego{
    height: 20vh;
  }
  .ronaldo{
    height: 20vh;
  }
  .zidane{
    height: 20vh;
  }
  .playerSpan{
    display: none;
  }
  .diego1986{
    width: 30rem;
  }
  .ronaldo2002{
    width: 30rem;
  }
  .zidane2006{
    width: 30rem;
  }
}

@media (max-width: 1000px){
  .signUp{
      width: 90vw;
      margin: 8rem auto 10rem auto;
  }
}

@media (max-width: 900px){

/* first container */

  .container{
  grid-gap: 10px;
  height: 100vh;
  text-align: center;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.7fr 0.7fr 1fr 1fr 1fr;
  grid-template-areas:
  "nav"
  "main"
  "main"
  "content1"
  "content2"
  "content3";
  }
  nav{
    margin: 1rem auto;
    width: 90%;
  }
  .ul-nav{
    font-size: 1.5rem;
    margin: 1rem auto;
    width: 100%;
  }
  .worldCards{
    font-size: 2.5rem;
    margin-top: 2rem;
  }
  .theMarketplace{
    font-size: 1.3rem;
    }
  .connectToWalletBtn{
    font-size: 1.5rem;
      margin: 1rem auto 0 auto;
  }
  .filterByPlayer{
    font-size: 2rem;
  }
  .earnRewards{
    font-size: 2rem;
  }
  .displayYourCollection{
    font-size: 2rem;
  }

  /* dashboard */

  .container4{
    height: 150vh;
  }
  .dashboard{
    background: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr;
    grid-gap: 0.5rem;
    grid-template-areas:
    "personal"
    "collection"
    "radar"
    "features";
    color: white;
    border: 1px solid white;
    height: 120vh;
  }
  .personal-info{
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    border-right: none;
    flex-direction: row;
    justify-content: center;
    text-align: center;

  }
  .personalSpan{
    padding-left: 2rem;
  }
  .collectionSpan{
    font-size: 1.5rem;
  }

  .radar{
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  }
  .radarSpan{
    font-size: 1.5rem;
  }
  .collection-examples{
    display: none;
  }
  .collectionLine{
    display: none;
  }
  .my-collection{
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    margin-top: 0rem;
  }
  .features{
    display: flex;
    margin-bottom: 2rem;
  }
  .radar-examples{
    display: none;
  }


}

@media (max-width: 700px){
  /* cont 3 */

  .container3{
    height: 30vh;
    margin-bottom: 5rem;
  }
  .howDoesWCWork{
    font-size: 2.7rem;
    margin: 3rem auto 0rem auto;
    padding-top: 10rem;
  }
  .howItWorksGrid{
    height: 30vh;
  }
  .broadcastP{
    margin-top: 1.2rem;
    font-size: 2rem;
  }
  .mintP{
    margin-top: 1.2rem;
    font-size: 2rem;
  }
  .accessP{
    margin-top: 1.2rem;
    font-size: 2rem;
  }
  .broadcastSVG{
    height: 10vh;
  }
  .mintSVG{
    height: 10vh;
  }
  .accessSVG{
    height: 10vh;
  }
  .broadcast{
    margin: 0 auto 0 auto;
  }
  .access{
    margin: 0 auto 0 auto;
  }
  .mint{
    margin: 0 auto 0 auto;
  }
  .broadcastP{
    margin-top: 1.2rem;
    font-size: 2rem;
  }
  .mintP{
    margin-top: 1.2rem;
    font-size: 2rem;
  }
  .accessP{
    margin-top: 1.2rem;
    font-size: 2rem;
  }
  .broadcastSVG{
    height: 10vh;
  }
  .mintSVG{
    height: 10vh;
  }
  .accessSVG{
    height: 10vh;
  }
}
}

@media (max-width: 500px){

  /* cont 2 */

  .container2{
    height: 60vh;
    max-width: 80%;
  }
  .hottest{
    flex-direction: column;
    height: 50vh;
    margin: 1rem auto 1rem auto;
  }
  .diego{
    height: 10vh;
  }
  .ronaldo{
    height: 10vh;
  }
  .zidane{
    height: 10vh;
  }
  .playerSpan{
    display: none;
  }
  .diego1986{
    width: 30rem;
  }
  .ronaldo2002{
    width: 30rem;
  }
  .zidane2006{
    width: 30rem;
  }

  /* cont 3 */

  .container3{
    height: 30vh;
    margin-bottom: 5rem;
  }
  .howDoesWCWork{
    font-size: 2.7rem;
    margin: 3rem auto 0rem auto;
    padding-top: 1rem;
  }
  .howItWorksGrid{
    height: 30vh;
  }
  .broadcast{
    margin: 0 auto 0 auto;
    justify-content: center;
  }
  .access{
    margin: 0 auto 0 auto;
    justify-content: center;
  }
  .mint{
    margin: 0 auto 0 auto;
    justify-content: center;
  }
  .broadcastP{
    margin-top: 1.2rem;
    font-size: 2rem;
  }
  .mintP{
    margin-top: 1.2rem;
    font-size: 2rem;
  }
  .accessP{
    margin-top: 1.2rem;
    font-size: 2rem;
  }
  .broadcastSVG{
    height: 10vh;
  }
  .mintSVG{
    height: 10vh;
  }
  .accessSVG{
    height: 10vh;
  }
}
}

@media (max-width: 400px){
  /* cont 3 */

  .container3{
    height: 30vh;
    margin-bottom: 5rem;
  }

  .howDoesWCWork{
    font-size: 2.7rem;
    margin: 3rem auto 0rem auto;
    padding-top: 10rem;
  }
  .howItWorksGrid{
    height: 30vh;
  }
}
